{%extends 'base.html' %} {%block content%}

<div class="p-20 m-3 rounded-xl flex items-center flex-col gap-3 bg-zinc-900">
  <h1 class="text-7xl font-bold text-center">{%block title%}404{%endblock%}</h1>
  <p>
    Error! Page not found. Go back to
    <a class="text-blue-700 underline" href="/">Home</a>
  </p>
</div>
<p class="text-blue-200">
  <a
    href="https://github.com/averageblank/urlshortener"
    class="underline"
    target="_blank"
    >Github</a
  >. Developed By
  <a href="https://github.com/AvgBlank" target="_blank" class="underline"
    >AvgBlank</a
  >
  and
  <a href="https://github.com/AalokeCode" target="_blank" class="underline"
    >AalokeCode</a
  >
</p>
{%endblock%}
