<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/static/favicon.svg">
  <title>Generate URL - trim.lol</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

    * {
      font-family: 'Space Grotesk', sans-serif;
    }

    .errorTrue {
      display: inline !important;
    }
  </style>
</head>


<body class="h-full w-full bg-zinc-950">
  <div
    class="flex justify-center items-center gap-10 flex-col w-full h-full bg-[url('static/bg-gradient.png')] bg-top text-white">
    <img src="static/logo.svg" class="w-56 pb-3" />
    <div class="p-16 m-3 rounded-xl flex items-center flex-col gap-3 bg-zinc-900">
      <div class="flex justify-between items-center w-full">
        <h1 class="text-2xl font-bold">Generate URL</h1>
        <a href="/stats"
          class="text-center bg-blue-700 hover:bg-blue-800 transition ease-in-out duration-200 text-white rounded-lg p-2 px-8">Check
          Statistics</a>
      </div>
      <hr class="w-full border-t-2 opacity-25 mb-3 border-zinc-400">
      <form method="post" action class="flex items-center flex-col" id="generateURLForm">
        <div class="mb-3">
          <label>Paste your long url here</label><br>
          <input type="url" name="long_url" id="url" placeholder="Paste your big URL" class="rounded-lg p-2 bg-zinc-800"
            size="80" value="{{old_url}}" />
        </div>
        <p class="text-sm text-red-500 hidden {{error_url}}">{{error_url_statement}}
        </p>
        <div class="mb-3">
          <label>Custom URL</label>
          <input name="custom_url" type="text" id="custom_url" class="rounded-lg p-2 w-full bg-zinc-800" size="50"
            placeholder="Enter Custom URL (optional)" value="{{custom_url}}" />
          <p class="text-sm text-red-500 hidden {{error_custom_url}}">{{error_custom_url_statement}}
          </p>
        </div>
        <button type="submit" value="submit" id="shorten"
          class="text-center bg-blue-700 hover:bg-blue-800 cursor-pointer mb-5 w-1/2 transition ease-in-out duration-200 text-white rounded-lg p-2 px-8">Shorten
          URL 🔗</button>
        <hr class="border-top border-zinc-700 w-full p-2">
        <h1 class="text-xl mb-3 font-bold">Copy your custom URL</h1>
        <div class="mb-3 rounded-lg p-2 bg-zinc-800 flex">
          <input type="url" id="output" disabled placeholder="Returns your short url" class="bg-transparent cursor-not-allowed" size="50"
            value="{{new_url}}" />
          <button type="button" onclick="return copyContent()" id="copyButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="fill-white" viewBox="0 0 256 256">
              <path
                d="M200,32H163.74a47.92,47.92,0,0,0-71.48,0H56A16,16,0,0,0,40,48V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V48A16,16,0,0,0,200,32Zm-72,0a32,32,0,0,1,32,32H96A32,32,0,0,1,128,32Zm72,184H56V48H82.75A47.93,47.93,0,0,0,80,64v8a8,8,0,0,0,8,8h80a8,8,0,0,0,8-8V64a47.93,47.93,0,0,0-2.75-16H200Z">
              </path>
            </svg>
          </button>
        </div>
      </form>
    </div>
    <script>
      function sleep(ms) {
        return new Promise((resolve) => setTimeout(resolve, ms));
        event.preventDefault()
      }
      let text = document.getElementById("output");
      let button = document.getElementById("copyButton").innerHTML;
      const copyContent = async () => {
        event.preventDefault()
        try {
          await navigator.clipboard.writeText(text.value);
          copyButton.innerHTML =
            '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff" viewBox="0 0 256 256"><path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path></svg>';
          await sleep(1000);
          copyButton.innerHTML =
            '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#fff" viewBox="0 0 256 256"> <path d="M200,32H163.74a47.92,47.92,0,0,0-71.48,0H56A16,16,0,0,0,40,48V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V48A16,16,0,0,0,200,32Zm-72,0a32,32,0,0,1,32,32H96A32,32,0,0,1,128,32Zm72,184H56V48H82.75A47.93,47.93,0,0,0,80,64v8a8,8,0,0,0,8,8h80a8,8,0,0,0,8-8V64a47.93,47.93,0,0,0-2.75-16H200Z"></path></svg>';
          console.log("Content copied to clipboard");
        } catch (err) {
          console.error("Failed to copy: ", err);
        }
      };
    </script>
    <script>
      window.onload = function () {
        document.getElementById("generateURLForm").reset();
      };
      if ("{{clearForms}}" == "True") {
        document.getElementById("generateURLForm").reset();
        console.log("Cleared forms")
      }

    </script>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
  if ("{{completed}}" == "True"){
    const button = document.getElementById("shorten");
    const custom_url = document.getElementById("custom_url")
    const long_url = document.getElementById("url")
    button.disabled = true;
    custom_url.disabled = true;
    long_url.disabled = true;
    button.classList.remove("bg-blue-700");
    button.classList.remove("cursor-pointer");
    button.classList.remove("hover:bg-blue-800");
    button.classList.add("bg-gray-500");
    button.classList.add("cursor-not-allowed");
    custom_url.classList.add("cursor-not-allowed");
    long_url.classList.add("cursor-not-allowed");
  }
  else{
    const button = document.getElementById("shorten");
    const custom_url = document.getElementById("custom_url")
    const long_url = document.getElementById("url")
    button.disabled = false;
    custom_url.disabled = false;
    long_url.disabled = false;
    button.classList.remove("bg-gray-500");
    button.classlist.remove("cursor-not-allowed");
    button.classList.add("bg-blue-700");
    button.classList.add("cursor-pointer");
    button.classList.add("hover:bg-blue-800");
    custom_url.classList.remove("cursor-not-allowed");
    long_url.classList.remove("cursor-not-allowed");
  }})
</script>
</body>

</html>